<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warmtel.eventbus">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo1.MainDemoActivity" />
        <activity android:name=".demo2.music_eventbus.MusicPlayerActivity" />
        <activity android:name=".demo2.music.MusicActivity" />

        <service android:name=".demo2.music_eventbus.MusicService" />
        <service android:name=".demo2.music.MusicService" />


    </application>

</manifest>
